dkljajo.duckdns.org {
    # Nextcloud
    handle_path /nextcloud* {
        reverse_proxy nextcloud:80
    }

    # Pi-hole
    handle_path /pihole* {
        reverse_proxy pihole:80
    }

    # Checkmk
    handle_path /checkmk* {
        reverse_proxy checkmk:5000
    }

    # Optional: redirect root to Nextcloud
    handle {
        redir /nextcloud 302
    }

    encode gzip
}
