{$DUCKDNS_DOMAIN} {

    encode gzip

    # Nextcloud reverse proxy
    reverse_proxy /nextcloud/* dkljajogithubio-nextcloud:80

    # Optional: serve static files at root if you have a website
    # root * /srv
    # file_server
}
